<a href="https://colab.research.google.com/github/upjinkim/ch21/blob/master/lab_python/python08_exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [51]:
import random  # 난수 생성을 위한 모듈(random.random(), random.randrange(), ...)
import math  # 수학 함수를 사용하기 위한 모듈(math.sqrt(), ...)
import numpy as np

# Ex 1.

`fruits = ('apple', 'banana', 'cherry', 'durian', 'watermellon')`

튜플 fruits에 저장된 문자열의 길이들을 저장하는 리스트를 만드로 출력하세요.

In [3]:
fruits = ('apple', 'banana', 'cherry', 'durian', 'watermellon')
for i in fruits:
    print(len(i), end = '\t')

5	6	6	6	11

# Ex 2.

*   1 이상 4 이하 범위의 정수 난수 10개를 저장하는 리스트 gender_codes를 만들고 출력하세요.
*   gender_codes의 값이 1 또는 3이면 'Male', 2 또는 4이면 'Female'을 저장하는 리스트 genders를 만들고 출력하세요.

In [57]:
gender_codes = []
for i in range(10):
    gender_codes.append(random.randrange(1,5))
print(gender_codes)
genders = ['Male' if x == 1 or x == 3 else 'Female' for x in gender_codes]
print(genders)

[1, 3, 3, 1, 2, 4, 3, 1, 1, 2]
['Male', 'Male', 'Male', 'Male', 'Female', 'Female', 'Male', 'Male', 'Male', 'Female']

# Ex 3.

```
m1 = [
    [1, 2, 3],
    [4, 5, 6]
]
m2 = [
    [1, 1, 1],
    [2, 2, 2]
]
```

두 2차원 배열 m1, m2에서 같은 인덱스의 원소들끼리 뺄셈(m1 - m2) 결과를 저장하는 리스트를 만들고 출력하세요.

In [23]:
dd1= []
m1 = [
    [1, 2, 3],
    [4, 5, 6]
]
m2 = [
    [1, 1, 1],
    [2, 2, 2]
]

for x,y in zip(m1,m2):
    dd1.append([a-b for a,b in zip(x,y)])
dd1

[[0, 1, 2], [2, 3, 4]]

# Ex 4.

1 이상 10 이하의 정수 5개를 저장하는 리스트 scores를 만들고 출력하세요.

In [37]:
scores = [random.randrange(1,11) for i in range(5)]
scores

[5, 6, 6, 3, 10]

# Ex 5.

문제 4에서 만든 리스트 scores의 원소들의 합계를 계산하고 출력하세요.

In [59]:
total_score = sum(scores)
print(total_score)

for i in scores:
    total_score /= 1
print(total_score)

30
30.0

# Ex 6.

문제 4에서 만든 리스트 scores의 원소들의 평균을 계산하고 출력하세요.

In [43]:
avg_score = sum(scores)/len(scores)
print(avg_score)

6.0

# Ex 7.

문제 4에서 만든 리스트 scores의 원소들의 분산을 계산하고 출력하세요.

In [54]:
var_score = np.var(scores)
print(var_score)

var_score = 0
for i in scores:
    var_score += (i - avg_score)**2
var_score /= len(scores)
print(var_score)

5.2

# Ex 8.

문제 4에서 만든 리스트 scores의 원소들의 표준편차를 계산하고 출력하세요.

In [56]:
sqrt_score = np.sqrt(var_score)
print(sqrt_score)

2.280350850198276

# Ex 9.

문제 4에서 만든 리스트 scores에서 최댓값을 찾고 출력하세요.

In [48]:
max_score = max(scores)
print(max_score)

10

# Ex 10.

문제 4에서 만든 리스트 scores에서 최솟값을 찾고 출력하세요.

In [49]:
min_score = min(scores)
print(min_score)

3

*   리스트의 모든 원소의 합계

$$
sum = \sum_{i = 1}^{n} x_i = x_1 + x_2 + ... + x_n
$$

*   리스트의 모든 원소의 평균(mean)

$$
\bar{x} = \frac{1}{n} \sum_{i = 1}^{n} x_i
$$

*   리스트의 모든 원소의 분산(variance)

$$
var = \frac{1}{n - 1} \sum_{i = 1}^{n} (x_i - \bar{x})^2
$$

*   리스트의 모든 원소의 표준편차(standard deviation)

$$
std = \sqrt{var}
    = \sqrt{\frac{1}{n - 1} \sum_{i = 1}^{n} (x_i - \bar{x})^2}
$$